<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />   
    <title>About</title>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="main-content">
      <h2>{{>header}}</h2>
      <p>This website was created by Bishal Gurung. Its uses the data from Mapbox and Openweather API for displaying the location and weather respectively.</p>
    <img class="portrait" src="./img/9th-annual-ves-awards---red-carpet.jpg" alt="" />
    </div>
  
    <p>{{>footer}}</p>
  </body>
</html>
